
/* Sequence Slider */

#slider_holder {
	height: 100%;
	position: relative;
}

#sequence {
	/*backface-visibility prevents graphical glitches when frames are animating*/
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	
	overflow: hidden;
}
#sequence ul {
	margin: 0;
}
#sequence ul li{ 
	z-index: 1;
	margin: 0 !important;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 170px;
	height: 36px;
	width: 30px;
	z-index: 20;		
	background: #556167;
	background: rgba(85, 97, 103, 0.7);
	
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
     
    filter: alpha(opacity=0); 
    opacity: 0;
	 
}
.prev {
	left: 0;
}
.next {
	right: 0;
}

.next > span, .prev > span {
	display: block;
	height: 16px;
	width: 10px;
	margin:10px;
-webkit-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
   -moz-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
    -ms-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
     -o-transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000); 
        transition: all 0.4s cubic-bezier(0.165, 0.840, 0.440, 1.000);		
}
.prev > span {
	background: url(../img/icons/sec-prev.png) no-repeat;

}
.next > span {
	background: url(../img/icons/sec-next.png) no-repeat;
}




#sequence li > * {
	position: absolute;
}

#sequence {
	height: 400px;
	margin: 0 auto;
	position: relative;
	max-width: 1400px;
}

.info {
	color: black;
	left: 80%;
	top: 20%;
	width: 45%;
	z-index: 10;
	vertical-align: middle;
    opacity: 0;
    filter: alpha(opacity=0);
    display: none;
}

.info.animate-in {
	left: 0;
	top: 20%;
    opacity: 1;
    filter: alpha(opacity=100); 	
-webkit-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
   -moz-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
    -ms-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
     -o-transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s; 
        transition: all 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.5s;
}

.info.animate-out {
	left: 80%;
    filter: alpha(opacity=0); 
    opacity: 0;
	-webkit-transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
	-ms-transition: all 0.2s ease-out;
	-o-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}


.info  h2{
	color: #fff;
/*	text-shadow: 0 1px 0 rgba(0,0,0,0.2);*/	
	padding: 0px 7px;
	font-size: 38px;
	line-height: 45px;
	letter-spacing: -1px;
	text-transform: uppercase;	
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	margin: 0 0 6px 0;
}
.info h3{
	color: #fff;
	background: #a6a6a6;
	padding: 4px 6px;
	font-size: 26px;
	line-height: 26px;
	letter-spacing: 0px;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;	
	margin: 0 0 24px 0;
}
.info p{
	color: #3c4549;
	width:80%;
	font-size: 17px;
	line-height: 27px;
	text-shadow: 0 1px 0 rgba(256, 256, 256, 0.5);
	margin: 0 0 28px;
}
.info a.link{
	color: #3c4549;
	width:80%;
	font-size: 14px;
	line-height: 25px;
	text-shadow: 0 1px 0 rgba(256, 256, 256, 0.5);
	margin: 0 0 14px;
}
.slider_img {
	max-height: 100%;
	width: auto;
	right: 0%;
	top: 0px;
    filter: alpha(opacity=0); 
    opacity: 0;

	z-index: 6;
}

.slider_img.animate-in {
	right:0;
	top: 0px;
    filter: alpha(opacity=100); 
    opacity: 1;
	z-index: 4;
/*	
	-webkit-transition: all 1s cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	-moz-transition: all 1s  cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	-ms-transition: all 1s  cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	-o-transition: all 1s  cubic-bezier(0.2,0.1,0.1,0.9) 0.3s;
	transition: all 1s  cubic-bezier(0.5,0.1,0.1,0.9) 0.3s;
*/
-webkit-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
   -moz-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
    -ms-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
     -o-transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s; 
        transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000) 0.3s;		
}

.slider_img.animate-out {
	left: -340%;
	top: 0px;
    filter: alpha(opacity=0); 
    opacity: 0;
	z-index: 2;
	
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;	
}


.slider_bgr {
    height: auto;
    width: 100%;
	left: 0;
    filter: alpha(opacity=0); 
    opacity: 0;
	top: 0;
	vertical-align: middle;

	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 1;
}

.slider_bgr.animate-in {
    filter: alpha(opacity=100); 
    opacity: 1;

	z-index: 1;
}

.slider_bgr.animate-out {
    filter: alpha(opacity=0); 
    opacity: 0;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	z-index: 1;
}


.sequence-preloader .preloading .circle {
    fill: #ccc !important;
}
div.inline{
    background-color: #ccc !important;
}
@media (min-width: 768px) and (max-width: 979px)
{
.slider_img
{
  width: 100% !important;
}
#searchbox
{
    padding-left: 0px !important;
}
.span3
{
    width: 164px !important;
}
#mydatatable_length, #mydatatable1_length, #mydatatable2_length
{
    width: 262px;
}
#offdate
{
    margin-right: -4px !important;
}
#loc
{
    margin-right: 75px !important;
}
.login-home
{
    margin: 0 0 10px -44px;
}
}
/* Sequence Slider::END */