.pageWrapper {
  width: 302px;
  margin: 0 auto;
  padding: 20px 0; }

.boxWrapper {
  float: left;
  clear: both;
  width: 300px;
  height: 240px;
  border: 1px solid #000000; }

.boxWrapper.auto {
  height: auto;
  min-height: 20px; }





#button, #button2 {
  display: inline-block;
  min-width: 100px;
  text-align: center;
  height: 20px;
  line-height: 20px;
  background: #000000;
  color: #ffffff;
  padding: 5px 10px; }


#example video {
  max-width: 300px;
  height: auto;
  float: left; }

.pageWrapper.cheese #example {
  height: auto;
  min-height: 100px; }

